body {
    background-color: rgb(234, 243, 243);
    /* color: white; */
}

.container {
    margin-top: 30px;
    /* background-color: teal; */
    /* background-color: rgb(136, 141, 145); */
}

.registration-form {
    width: 60%;
    margin: auto;
}

.title {
    text-align: center;
}

.submit-btn {
    text-align: center;
    margin-bottom: 20px;
}